<time itemprop="datePublished" datetime="<%= date(post.date, config.date_format) %>">
    <%= date(post.date, config.date_format) %>
</time>
<% 
    if (post.categories && post.categories.length) { 
    var cats = [];
    post.categories.forEach(function(cat){
        cats.push("<a itemprop='url' href='"+url_for(cat.path)+"'>" + cat.name + "</a>");
    });
%><div class="cats">
    <%- cats.join(", ") %>
</div><% } %>
<div class="info">
    <i class="fa fa-comment-o"></i>
    <a itemprop="discussionUrl" href="<%= url_for(post.path) %>#comments">
        <span itemprop="interactionCount" class="disqus-comment-count"
              data-disqus-identifier="<%= post.path %>"></span>
    </a>
</div>
<div class="info">
    <i class="fa fa-eye"></i>
    <div class="pageviews" data-path="<%= url_for(post.path) %>"><span class="count">--</span> <span class="text">Pageviews</span></div>
</div>