<time>
    <%= date(post.date, config.date_format) %>
</time>
<% if (post.categories && post.categories.length){ %>
    <%
    var cats = [];
    post.categories.forEach(function(cat){
        cats.push("<a href='"+url_for(cat.path)+"'>" + cat.name + "</a>");
    });
    %>
    <div class="cats">
        <%- cats.join(", ") %>
    </div>
<% } %>
<div class="info">
    <i class="fa fa-comment-o"></i>
    <a href="<%= url_for(post.path) %>#comments" itemprop="discussionUrl">
        <span class="disqus-comment-count"
                    data-disqus-identifier="<%= post.path %>" itemprop="commentCount"></span>
    </a>
</div>
<div class="info">
    <i class="fa fa-eye"></i>
    <span class="pageviews" data-path="<%= url_for(post.path) %>"><font class="count">--<font></span> Pageviews
</div>