<%
    var title = "Archives";
%>
<article class="archive-page post white-box">
    <section class="meta">
        <h2 class="title">
            <span class="fa fa-archive"></span>
            <%= title %>
        </h2>
        <div class="count">
            <%= site.posts.length %> posts in total
        </div>
    </section>
    <section class="archive">
        <%
        var year = -1, postid = -1;
        site.posts.sort("date", -1).each(function(post) {
            post.year = date(post.date, "YYYY");
            if (post.year && post.year !== year) {
            year = post.year;
        %>
            <div class="archive-item archive-year mark">
                <a id="archive-year-<%= year %>" href="<%= url_for('/archives/' + year + '/') %>" >
                <%= year %>
                </a>
            </div>
        <% } %>
            <div class="archive-item archive-post mark">
            <a href="<%= url_for(post.path) %>">
                <time><%= date(post.date, "MM-DD") %></time>
                <span class="title"><span><%= post.title %></span></span>
            </a>
            </div>
        <% }); %>
    </section>
</article>