<%
var title = "Category : " + page.category;
%>
<script>
    window.subData = { title: "<%= title %>" };
</script>
<article id="archive-page" class="post white-box">
    <section class="meta">
        <h2 class="title">
            <a href="javascript:void(0);">
                <%= title %>
            </a>
        </h2>
    </section>
    <section class="archive">
        <%
        site.posts.sort("date", -1).each(function(post) {            
            var display = false;
            post.categories.forEach(function(cate) {
                display = display || cate.name == page.category;
            });
            if(!display) return;
        %>
        <div class="archive-item archive-post mark">
            <a href="<%= url_for(post.path) %>">
                <time>
                    <%= date(post.date, config.date_format) %>
                </time>
                <span class="title"><span><%= post.title %></span></span>
            </a>
        </div>
        <% }); %>
    </section>
</article>