<%
    let title = "Category : " + page.category;
    let posts = [];
    let total = 0;
    site.posts.sort("date", -1).each(function(post) {            
        let display = false;
        post.categories.forEach(function(cate) {
            display = display || cate.name == page.category;
        });
        if(!display) return;
        posts.push(post);
        total++;
    });
%>
<article class="post white-box archive-page">
    <section class="meta">
        <h2 class="title">
            <span class="fa fa-list"></span>
            <%= title %>
        </h2>
        <div class="count">
            <%= total %> posts in <%= page.category %>
        </div>
    </section>
    <section class="archive">
        <% posts.forEach(function(post) { %>
        <div class="archive-item archive-post mark">
            <a href="<%= url_for(post.path) %>">
                <time>
                    <%= date(post.date, config.date_format) %>
                </time>
                <span class="title"><%= post.title %></span>
            </a>
        </div>
        <% }); %>
    </section>
</article>