<%
    let title = "Categories";
    let cates = {};
    let total = 0;
    site.categories.sort("name").each(function(item){ 
        if(cates[item.name]==null) {
            //let route = item.path.replace(/\/$/g, '').split("/");
            cates[item.name] = {
                title: item.name,
                //path: route[0] + "/" + route[route.length - 1] + "/",
                path: item.path,
                count: 0
            };
            total++;
        }
        cates[item.name].count += item.posts.length;
    });
%>
<article class="post white-box archive-page">
    <section class="meta">
        <h2 class="title">
            <span class="fa fa-list"></span>
            <%= title %>
        </h2>
        <div class="count">
            <%= total %> categories in total
        </div>
    </section>
    <section class="archive">
        <% if (site.categories.length) { 
            for(let key in cates) {
                let cate = cates[key];
        %> 
            <div class="archive-item archive-post mark">
                <a href="<%= url_for(cate.path) %>">
                    <span class="title"><%= cate.title %></span>
                    <span class="count">(<%= cate.count %>)</div>
                </a>
            </div>
        <% } } %>
    </section>
</article>